:root {
  --clr-primary: #E38826;
  --clr-secondary: #006970;
  --clr-secondary-dk: #004241;
  --clr-tertiary: #F2F2F2;
  --clr-helper: rgba(255, 255, 255, .75);
  --ff-primary: 'Lexend Deca', sans-serif;
  --ff-secondary: 'Big Shoulders Display', sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: var(--ff-primary);
  font-size: 1.6rem;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
